body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header h1 {
    font-size: 2.5em;
    color: #00bcd4;
    text-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    margin-bottom: 20px;
}

/* Estilo do formulário e botões */
form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1em;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #00bcd4;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008ba3;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    border-radius: 5px;
}

/* Estilo da lista */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

ul li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;;
    color: #fff

}

ul li span {
    flex-grow: 1;
    margin-right: 10px;
}

ul li button {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li button:hover {
    background-color: #777;
}